
{% extends "base.html" %}
{% block content %}

<div class="chat-layout">

    <!-- SIDEBAR À DROITE -->
     {% if session.get('femme') %}
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="/static/img/sagefemme.png" class="sf-avatar">
                <h4>{{ session.femme.nom }}</h4>
                <p class="online">● En ligne</p>
            </div>

            <ul class="menu">
                <li><a href="/dashboard/enfants">👶 Mes enfants</a></li>
                <li><a href="/dashboard">📅 Mes visites</a></li>
                <li><a href="/rappels">⏰ Rappels</a></li>
                <li><a href="/profile">⚙️ Paramètres</a>
                    <ul class="dropdown-menu">
                        
                        <button onclick="viderHistorique()" class="btn btn-danger btn-sm">
                         🗑 Effacer l’historique
                        </button>
                        <a href="/update_enceinte" class="btn btn-info"> Enceinte ?</a></li>
                    </ul>
                </li>
                <li><a href="/aide">❓ Aide</a></li>
            </ul>
        </aside>
    {% endif %}
    <!-- CHATBOX CENTRALE -->
    <div class="chat-wrapper">
        <div class="chat-header">
            <h2>Ma Sage-Femme</h2>
            <p class="sub">Assistant virtuel médical</p>
            <p class="warning-message">
                ⚠️ Les réponses générées sont à titre d'information seulement. Veuillez consulter un agent de santé pour des conseils professionnels.
            </p>
        </div>

        <div id="chat-box" class="chat-box">
            <!-- Messages ajoutés ici en JS -->
            {% if messages %}
                <!-- Affichage de l'historique -->
                {% for msg in messages %}
                    <div class="message user">
                        <span class="indicator">Vous :</span>
                        <div class="text">{{ msg.question }}</div>
                    </div>

                    <div class="message bot">
                        <span class="indicator">Chatbot :</span>
                        <div class="text">{{ msg.reponse }}</div>
                    </div>
                {% endfor %}
            {%endif%}
        </div>

        <!-- Champ de saisie fixe en bas -->
        <div id="user-input" class="user-input">
            <input type="text" id="message" placeholder="Écrivez votre question…">
            <button onclick="sendMessage()">Envoyer</button>
        </div>
    </div>

</div>
<script src="/static/js/script.js"></script>

{% endblock %}