

{% extends "base.html" %}
{% block title %}Inscription{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow p-4">

            <h2 class="text-center mb-4">Créer un compte</h2>

            <form method="POST">

                <div class="mb-3">
                    <label for="nom" class="form-label">Nom </label>
                    <input type="text" name="nom" class="form-control" placeholder="Votre nom" required>
                </div>
                
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prénom </label>
                    <input type="text" name="prenom" class="form-control" placeholder="Votre nom" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email </label>
                    <input type="email" name="email" class="form-control" placeholder="exemple@gmail.com"required>
                </div>

                <div class="mb-3">
                    <label for="telephone" class="form-label">Téléphone</label>
                    <input type="text" name="telephone" class="form-control" placeholder="Ex: 70 00 00 00" required>
                </div>

                

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Êtes-vous enceinte ?</label>
                    <select name="enceinte" id="enceinte-select" class="form-select" required>
                        <option value="non">Non</option>
                        <option value="oui">Oui</option>
                    </select>
                </div>

                <div class="mb-3" id="mois-grossesse-div" style="display:none;">
                    <label for="mois_grossesse" class="form-label">Mois de grossesse</label>
                    <input type="number" min="1" max="9" class="form-control" name="mois_grossesse">
                </div>

                <button type="submit" class="btn btn-success w-100">Créer le compte</button>
            </form>

            <p class="text-center mt-3">
                Déjà inscrite ?  
                <a href="/login"> Se connecter</a>
            </p>
        </div>
    </div>
</div>

<script>
document.getElementById('enceinte-select').addEventListener('change', function() {
    document.getElementById('mois-grossesse-div').style.display =
        this.value === 'oui' ? 'block' : 'none';
});
</script>

{% endblock %}
