

{% extends "base.html" %}
{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4">
            
            <h2 class="text-center mb-4"> Connexion </h2>

            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Entrez votre identifiant" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mot de passe</label>
                    <input type="password" name="password" class="form-control" placeholder="Votre mot de passe" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Se connecter</button>
            </form>

            <p class="text-center mt-3">
                Pas encore de compte ?  
                <a href="/signup">Créer un compte</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
